.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    margin: 20px;
    
}
.q1-container{
    border: 2px solid greenyellow;

}

.question1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.question1 li {
    text-align: left;
}
.question2{
    padding: 20px;
    margin: 20px;
}
.question3{
    border: 2px solid greenyellow;
    margin: 20px;
    padding: 20px;
}

.question3 li {
    text-align: left;
}

@media screen and (max-width:500px) {
    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        text-align: center;
        padding: 20px;
        margin: 20px;

    }
}